@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
</head>
<body>
    <div>
    <input data-bind="value: name" />
        hello, <b data-bind="text: name"></b>
    </div>
    <script src="~/Scripts/first.js"></script>
</body>
</html>
